

html, body, #root, .App {
  background-color: rgb(10, 11, 17);
}

.App {
  text-align: center;
}

.App h2 {
  color: white;

}

.page p{
  color: white;
}

.orb-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0rem 2rem;
}

.orb {
  margin: 1rem;
  padding: 1rem;
  border: pink 1px solid;
}

.orb-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.orb-detail {
  color: white;
  border: pink 1px solid;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.orb:hover p{
  animation: pulse 4s infinite alternate;
}


@keyframes pulse {
  0% {
      color: rgb(255, 148, 198);
  }
  50% {
      color: rgb(255, 226, 112);
  }
  100% {
      color: rgb(140, 221, 255);
  }

}